/* HERO */
.register-hero {
  min-height: 40vh;
  width: 100%;
  padding-top: 90px; /* navbar spacing */
}

@media (max-width: 576px) {
  .register-hero {
    min-height: 32vh;
  }
}

.register-hero h1 {
  font-size: clamp(1.8rem, 5vw, 3rem);
}

/* CARD */
.register-card {
  max-width: 420px;
  width: 100%;
  border-radius: 10px;
}

.register-card p a:hover {
  text-decoration: underline;
}
